body {
  background-color:transparent;
  color:#333;
}

a {
  color:rgb(95,79,136);
}

a:hover {
  color:rgb(143,79,141);
}

.navback {
    left:0px;
    right:0px;
    height:80px;
    background-color:#222;
    position:absolute;
}

.navbar>.container {
    background-color:#222;
    padding-right:0px;
}

.navbar-header {
    height:80px;
}

.navbar-inverse {
    background-color:transparent;
    border:none;
}

.container>.navbar-collapse {
    padding:0;
}

.container:after {
    margin-bottom:4em;
}

.navbar-brand {
    padding:5px;
}

.navbar-brand>img {
    background-color:rgb(95,79,136);
}

.navbar-brand>img:hover {
    background-color:rgb(143,79,141);
}

.navbar-right {
    padding-top:18px;
}

.navbar-nav>li>a {
    padding-top:28px;
}

.pic {
    margin-bottom:2em;
}

.links {
  font-family:'Arial Black', 'Arial', sans-serif;
  font-weight:bold;
}

.links a {
  padding:1em;
}

.splash {
    width:600px;
}

.splash {
    width:100%;
}
@media screen (min-width:768px) {
    .splash {
        width:600px;
    }
}

.splash img {
    margin:1em auto;
}

.carousel-fade .item {
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -ms-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
}

.carousel-fade .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

.carousel-fade .next {
    left:0;
    opacity:1;
    z-index:1;
}

.footer address {
    padding-top:0.3em;
}

.bluelink {
 color: #428bca;
}

.bluelink:hover {
 color: #2a6496;
}

.social {
    font-size:2em;
}

.social > a {
 color: #428bca;
}

.social > a:hover {
 color: #2a6496;
 }

.social li {
    padding:5px;
}

p {
    line-height:24px;
}
