<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>$title$</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
  </head>

  <body>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class="img-responsive" src="/img/logo-small.png" alt="shorty goldstein's"/>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://shortygoldsteins.com/menu/">Menu</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/catering">Catering</a></li>
            <li><a href="/homemade">Homemade</a></li>
            <li><a href="/press">Press</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <div class="nav navbar-right">
            <div class="social">
              <a href="https://www.facebook.com/pages/Shorty-Goldsteins/524956390894295"><i class="fa fa-facebook-square"></i></a>
              <a href="https://twitter.com/SGoldsteins"><i class="fa fa-twitter-square"></i></a>
            </div>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      $body$
    </div>
  </body>
</html>
