<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>$title$</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
  </head>

  <body>

    <div class="container splash">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <a href="/">
            <img class="img-rounded img-responsive" src="img/logo.jpg" alt="shorty goldstein's" />
          </a>
        </div>
      </div>
      <div class="row links">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <div class="row">
            <a class="text-center col-md-2 col-sm-2 col-xs-4" 
              href="http://shortygoldsteins.com/menu/">menu</a>
            <a class="text-center col-md-2 col-sm-2 col-xs-4" href="/about">about</a>
            <a class="text-center col-md-2 col-sm-2 col-xs-4" href="#catering/">catering</a>
            <a class="text-center col-md-2 col-sm-2 col-xs-4" href="#homemade/">homemade</a>
            <a class="text-center col-md-2 col-sm-2 col-xs-4" href="#press/">press</a>
            <a class="text-center col-md-2 col-sm-2 col-xs-4 active" href="#contact">contact</a>
          </div>
        </div>
      </div>
      $body$
    </div>
  </body>
</html>
