<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>$title$</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
  </head>

  <body>

    <div class="container splash">
      <div class="row text-center">
        <a href="/">
          <img class="img-rounded img-responsive" src="img/logo.jpg" alt="shorty goldstein's" />
        </a>
      </div>
      <div class="row text-center links">
        <a href="http://shortygoldsteins.com/menu/">menu</a>
        <a href="/about">about</a>
        <a href="#catering/">catering/events</a>
        <a href="#homemade/">home made</a>
        <a href="#contact">contact</a>
      </div>
      $body$
    </div>
  </body>
</html>
